* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
} */

.rosco {
    display: flex;
}